<!DOCTYPE html>
<html>

  <head>
    <title><%= @title || "HTML5 Foursquare" %> - fortysquires.com</title>
    <script src="http://www.google.com/jsapi"></script>
    <script>
      google.load("jquery", "1.4.1");
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/> 
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= yield :head %>
  </head>

  <body>
    <!-- header -->
    <div id="header-wrapper">
      <span id="header-logo"><%= link_to "fortysquires", root_path %></span>
      <br />
      <span id="header-nav">
        <% if @current_user %>
          <%= link_to "Checkin", checkin_path %>
          | <%= link_to "Your history", history_path %>
          | <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Purchase", "http://www.appstorehq.com/fortysquires-mobilewebfoursquareclient-html5web-196344/app" %>
          | <%= link_to "Login", login_path %>
        <% end %>
      </span>
   </div>
    <!-- content -->
    <div id="content-wrapper">
      <%= render :partial => "layouts/flashes" %>
      <%= yield :content %>
    </div>

    <!-- footer -->
    <div id="footer-wrapper">
      fortysquires. Made by <%= link_to "Ian Sefferman", "http://www.iseff.com" %>. Sold by <%= link_to "AppStoreHQ", "http://www.appstorehq.com" %>. Open-sourced at <%= link_to "GitHub", "http://github.com/iseff/fortysquires" %>.
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15792809-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
